<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ikkarus.lembreme" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LembreMe</name>
    <description>Um aplicativo que funciona como um bloco de anotações prático</description>
    <author email="bene.rogerio@hotmail.com" href="">
        Ikkarus
    </author>
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <resource-file src="res/android/colors.xml" target="/app/src/main/res/android/colors.xml" />
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
    </platform>
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/hdpi.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#AAAAFF" />
    <preference name="SplashScreenDelay" value="1500" />
    <!-- <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#CCCCFF" /> -->
    <!-- <preference name="BackgroundColor" value="0xff000000" /> -->
    <preference name="ShowTitle" value="true" />
    <preference name="LoadingDialog" value="LembreMe, Bloco de anotações" />
</widget>
