<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ikkarus.lembreme" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LembreMe</name>
    <description>Um aplicativo que funciona como um bloco de anotações prático</description>
    <author email="bene.rogerio@hotmail.com" href="">
        Ikkarus
    </author>
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <resource-file src="res/android/colors.xml" target="/app/src/main/res/android/colors.xml" />
        <icon density="ldpi" foreground="res/android/ldpi.png" density="ldpi" background="res/android/bg-ldpi.png"/>
        <icon density="mdpi" foreground="res/android/mdpi.png" density="mdpi" background="res/android/bg-mdpi.png"/>
        <icon density="hdpi" foreground="res/android/hdpi.png" density="hdpi" background="res/android/bg-hdpi.png"/>
        <icon density="xhdpi" foreground="res/android/xhdpi.png" density="xhdpi" background="res/android/bg-xhdpi.png"/>
        <icon density="xxhdpi" foreground="res/android/xxhdpi.png" density="xxhdpi" background="res/android/bg-xxhdpi.png"/>
        <icon density="xxxhdpi" foreground="res/android/xxxhdpi.png" density="xxxhdpi" background="res/android/bg-xxxhdpi.png"/>

        <config-file parent="/*" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.READ_CALENDAR"/>
            <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
        </config-file>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/service[@android:name='com.davidbriglio.foreground.ForegroundService']" xmlns:android="http://schemas.android.com/apk/res/android">
            <service android:foregroundServiceType="location" />
        </edit-config>
    </platform>
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/LembreMeSplashscreen.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#AAAAFF" />
    <preference name="SplashScreenDelay" value="1500" />
    <preference name="ShowTitle" value="true" />
    <preference name="LoadingDialog" value="LembreMe, Bloco de anotações" />
</widget>
